.container{
    width: 600px;
    max-width: 600px;
    margin: 0 auto;
}


.inpBox{
    display: flex;
    flex-direction: column;
}
.flexName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.flexName input{
    width: 260px;
    padding-left: 15px;
    height: 40px;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid rgb(161, 161, 243);
    margin-bottom: 15px;
}
.inpBig{
    width: 600px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(161, 161, 243);
    margin-top: 15px;
    margin-bottom: 15px;
}
.inpMiniFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inpMIni{
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(161, 161, 243);
    margin-top: 15px;
    margin-bottom: 40px;
    padding-left: 15px;
}
button{
    width: 600px;
    height: 40px;border-radius: 8px;
    border: 1px solid rgb(161, 161, 243);
    background-color: rgb(161, 161, 243);
    color: #ffffff;

}
button:hover{
    background-color: blue;
}